* {
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  width: 90%;
  margin-left: 10%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  color: #e0e0e0;
}

#sidebar {
  width: 10%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  align-items: center;
  align-content: center;
}

.toggle {
  margin-left: 25%;
  position: relative;
  width: 70px;
  height: 70px;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  border-radius: 4px;
  transition: 0.5s;
}

.toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
}

.toggle.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
}

.toggle.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
  transform: translateX(60px);
}

.menuNav {
  display: none;
  position: relative;
  margin: 8px auto;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 120px;
  text-align: center;
}

.menuNav a {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100%;
  margin-top: 100%;
}

.social-links a {
  font-size: 30px;
  margin: 10px 0;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}

.main-content {
  padding: 30px;
}

#accueil {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 .letter {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-size: 180px;
  color: #75d29a;
  text-shadow: 0.1vw 0vw 0.25vw #38f380, 0.15vw 0vw 0.25vw #38f380,
    0.1vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471,
    0.1vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471,
    0.1vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.5vw #12ea65,
    0.1vw 0vw 0.5vw #12ea65, 0.15vw 0vw 0.2vw #12ea65, 0.15vw 0vw 0.15vw #12ea65;
  display: inline-block;
  animation: neon 0.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 5px #38f380 0 0 10px #38f380 0 0 20px #28e471 0 0 30px
      #28e471 0 0 40px #28e471 0 0 50px #12ea65 0 0 60px #12ea65;
  }
  to {
    text-shadow: 0 0 5px #38f380 0 0 10px #38f380 0 0 20px #28e471 0 0 30px
      #28e471 0 0 40px #28e471 0 0 50px #12ea65 0 0 60px #12ea65;
  }
}

h1 .letter-2 {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-size: 150px;
  transform: translate(-0.2rem, 1rem) rotate(10deg);
}

#soustitre {
  text-align: center;
  font-size: 15px;
}

#presentationContain {
  height: 100vh;
}

.titrePresentation {
  text-align: center;
  padding-bottom: 40px;
}

#presentation {
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#Skills {
  height: 100vh;
}

.titreSkills {
  text-align: center;
  padding-bottom: 40px;
}

#logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #12ea65 solid;
  box-shadow: 0.1vw 0vw 0.25vw #38f380, 0.15vw 0vw 0.25vw #38f380,
    0.1vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471,
    0.1vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471,
    0.1vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.5vw #12ea65,
    0.1vw 0vw 0.5vw #12ea65, 0.15vw 0vw 0.2vw #12ea65, 0.15vw 0vw 0.15vw #12ea65;
  padding-bottom: 60px;
  padding-top: 60px;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 0 10px;
}

#ProjetsContain {
  height: 100vh;
}

.titreProjets {
  text-align: center;
  padding-bottom: 40px;
}

#mesprojets {
  display: flex;
  height: 600px;
  justify-content: space-around;
  align-items: center;
  border: #12ea65 solid;
  box-shadow: 0.1vw 0vw 0.25vw #38f380, 0.15vw 0vw 0.25vw #38f380,
    0.1vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471,
    0.1vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471,
    0.1vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.5vw #12ea65,
    0.1vw 0vw 0.5vw #12ea65, 0.15vw 0vw 0.2vw #12ea65, 0.15vw 0vw 0.15vw #12ea65;
}

#ContactContain {
  height: 100vh;
}

.titleContact {
  text-align: center;
  padding-bottom: 40px;
}

#Contact {
  display: flex;
  height: 600px;
  align-items: center;
  border: #12ea65 solid;
  box-shadow: 0.1vw 0vw 0.25vw #38f380, 0.15vw 0vw 0.25vw #38f380,
    0.1vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471,
    0.1vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471,
    0.1vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.5vw #12ea65,
    0.1vw 0vw 0.5vw #12ea65, 0.15vw 0vw 0.2vw #12ea65, 0.15vw 0vw 0.15vw #12ea65;
}

#formulaire {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  width: 80%;
}

.barre {
  border-radius: 10px;
  border: #12ea65 solid;
  box-shadow: 0.1vw 0vw 0.25vw #38f380, 0.15vw 0vw 0.25vw #38f380,
    0.1vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471, 0.15vw 0vw 0.1vw #28e471,
    0.1vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471, 0.15vw 0vw 0.2vw #28e471,
    0.1vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.1vw #12ea65, 0.15vw 0vw 0.5vw #12ea65,
    0.1vw 0vw 0.5vw #12ea65, 0.15vw 0vw 0.2vw #12ea65, 0.15vw 0vw 0.15vw #12ea65;
}

#footer {
  text-align: center;
  color: #12ea65;
}
